<button (click)="NavigateToHome()">Home</button>

<h4>This is QuizID {{Id}}</h4>

<h4>User json is: {{ user | json }}</h4>

{{ Answers | json }}

<!-- {{ Questions | json }} -->

<h3>{{ QuizTitle }} Quiz</h3>

<form (submit)="SubmitAnswers()" name="quizform" #quizform="ngForm">
    <h3>{{ Questions[0].questionString }}</h3>
    <input type="radio" name="answer1" value="A" required [(ngModel)] = 'Answers.a1'>{{ Questions[0].answerA }}
    <input type="radio" name="answer1" value="B" required [(ngModel)] = 'Answers.a1'>{{ Questions[0].answerB }}
    <input type="radio" name="answer1" value="C" required [(ngModel)] = 'Answers.a1'>{{ Questions[0].answerC }}
    <input type="radio" name="answer1" value="D" required [(ngModel)] = 'Answers.a1'>{{ Questions[0].answerD }}
    <hr>
    <h3>{{ Questions[1].questionString }}</h3>
    <input type="radio" name="answer2" value="A" required [(ngModel)] = 'Answers.a2'>{{ Questions[1].answerA }}
    <input type="radio" name="answer2" value="B" required [(ngModel)] = 'Answers.a2'>{{ Questions[1].answerB }}
    <input type="radio" name="answer2" value="C" required [(ngModel)] = 'Answers.a2'>{{ Questions[1].answerC }}
    <input type="radio" name="answer2" value="D" required [(ngModel)] = 'Answers.a2'>{{ Questions[1].answerD }}
    <hr>
    <h3>{{ Questions[2].questionString }}</h3>
    <input type="radio" name="answer3" value="A" required [(ngModel)] = 'Answers.a3'>{{ Questions[2].answerA }}
    <input type="radio" name="answer3" value="B" required [(ngModel)] = 'Answers.a3'>{{ Questions[2].answerB }}
    <input type="radio" name="answer3" value="C" required [(ngModel)] = 'Answers.a3'>{{ Questions[2].answerC }}
    <input type="radio" name="answer3" value="D" required [(ngModel)] = 'Answers.a3'>{{ Questions[2].answerD }}
    <hr>
    <h3>{{ Questions[3].questionString }}</h3>
    <input type="radio" name="answer4" value="A" required [(ngModel)] = 'Answers.a4'>{{ Questions[3].answerA }}
    <input type="radio" name="answer4" value="B" required [(ngModel)] = 'Answers.a4'>{{ Questions[3].answerB }}
    <input type="radio" name="answer4" value="C" required [(ngModel)] = 'Answers.a4'>{{ Questions[3].answerC }}
    <input type="radio" name="answer4" value="D" required [(ngModel)] = 'Answers.a4'>{{ Questions[3].answerD }}
    <hr>
    <h3>{{ Questions[4].questionString }}</h3>
    <input type="radio" name="answer5" value="A" required [(ngModel)] = 'Answers.a5'>{{ Questions[4].answerA }}
    <input type="radio" name="answer5" value="B" required [(ngModel)] = 'Answers.a5'>{{ Questions[4].answerB }}
    <input type="radio" name="answer5" value="C" required [(ngModel)] = 'Answers.a5'>{{ Questions[4].answerC }}
    <input type="radio" name="answer5" value="D" required [(ngModel)] = 'Answers.a5'>{{ Questions[4].answerD }}
    <hr>
    <input type="submit" value="GO" [disabled]="!quizform.valid">
    <p>{{QuizError}}</p>
</form>
