<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="reg_form">
    <fieldset>
      <legend><b>Register</b></legend>
      <form #registerForm="ngForm" (submit)="RegisterUser()">
        <p><input type="text" name="FirstName" [(ngModel)] = "User.FirstName" #FirstName="ngModel" placeholder="First Name" required></p>
        <p class="errors" *ngIf="!FirstName.valid && (FirstName.dirty || FirstName.touched)" >First name is required</p>
        
        <p><input type="text" name="LastName" [(ngModel)] = "User.LastName" #LastName="ngModel" placeholder="Last Name" required></p>
        <p class="errors" *ngIf="!LastName.valid && (LastName.dirty || LastName.touched)" >Last name is required</p>

        <p><input type="text" name="Email" [(ngModel)] = "User.Email" #Email="ngModel" placeholder="Email" required></p>
        <p class="errors" *ngIf="!Email.valid && (Email.dirty || Email.touched)" >Email is invalid</p>

        <p><input type="text" name="Password" [(ngModel)] = "User.Password" #Password="ngModel" pattern="^([a-zA-Z0-9@*#]{8,15})$" placeholder="Password" required></p>
        <p class="errors" *ngIf="!Password.valid && (Password.dirty || Password.touched)" >Password is required</p>

        <p><input type="text" name="cPassword" [(ngModel)] = "User.cPassword" #cPassword="ngModel"pattern="^([a-zA-Z0-9@*#])$" placeholder="Confirm Password" required></p>
        <p class="errors" *ngIf="!cPassword.valid && User.cPassword !== User.Password && (cPassword.dirty || cPassword.touched)" required>Confirm Password is required</p>
        <p class="errors" *ngIf="User.cPassword != User.Password">Passwords do not match.</p>
        
        <p><input type="submit" value="REGISTER!!"></p>
      </form>
      
    </fieldset>
  </div>
  <div class="log_form">
    <fieldset>
      <legend><b>Login</b></legend>
        <form #logForm = "ngForm" (submit)="LoginUser()">
          <p><input type="text" name="Email" placeholder="Email" [(ngModel)] = "User.Email" #Email = "ngModel" required></p>
          <p class="errors" *ngIf="!Email.valid && (Email.dirty || Email.touched)" >Email is required</p>
          <p><input type="text" name="Password" placeholder="Password" [(ngModel)] = "User.Password" #Password = "ngModel" required></p>
          <p class="errors" *ngIf="!Password.valid && (Password.dirty || Password.touched)" >Password is required</p>
          <input type="submit" value="submit">
        </form>
    </fieldset>
    
  </div>

</body>
</html>