<div>
<div *ngFor="let user of online_users">
  <button *ngIf="online_users.length > 0" (click)="ChatUser(user.connectionID, user.firstName)">{{user.firstName}}</button>
  <!-- {{user | json}} -->
  <div *ngFor="let res of user.matchRes"> 
    <h3>Quiz nr: {{res[0]}} Match Percentage: {{res[1]*100}} %</h3>
  </div>
</div>


<button (click)=find_online_users()>Refresh Online Users</button>

</div>

<div class="container-fluid">

  <h1>Chat with Cool People!</h1>


  <div class="row">
    <form class="form-inline" (ngSubmit)="sendMessage()" #messageForm="ngForm">
      <div class="form-group">
        <label class="sr-only" for="message">Message</label>
        <input type="text" class="form-control" id="message" placeholder="your message..." name="message" [(ngModel)]="message" required>
      </div>
      <button *ngIf="chatID.length > 0" type="submit" class="btn btn-primary" [disabled]="!messageForm.valid">Send message to {{chatPerson}}</button>
    </form>
  </div>
  <div class="row" *ngIf="messages.length > 0">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Messages</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let message of messages; let i = index">
            <td>{{i + 1}}</td>
            <td>{{message}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="messages.length <= 0">
    <span>No messages</span>
  </div>
</div>